<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modulo Asignaturas Estudiante</title>
    <link rel="icon" type="image/png" sizes="96x96" href="CSS/favicon-96x96.png">
    <link rel="stylesheet" href="CSS/estilo1.css">
</head>
<body>
    <div id="img">
        <img src="CSS/logo_unacional-removebg-preview.png" class="ribbon" alt="" />
    </div>
    <div>
        <ul class="menu">
            <li><a href="estudiante.html"><strong>Mi Perfil</strong></a></li>
            <li><a href="#Estudiantes"><strong>Asignaturas</strong></a></li>

        </ul>
    </div>
    <h1>Listado de Asignaturas Matriculadas</h1>
    <h1>Calculo 1</h1>
    <table class="tabla">
        <!--tr son las filas-->
        <tr>
            <!--th son los encabezados -->
            <th>Actividades</th>
            <th>Nota</th>
            <th>Observaciones</th>
        </tr>
        <tr>
            <!--td son las celdad/columnas de la fila-->
            <td>Actividad 1</td>
            <td>4.0</td>
            <td>Muy bien</td>
        </tr>
        <tr>
            <!--td son las celdad/columnas de la fila-->
            <td>Actividad 2</td>
            <td>3.5</td>
            <td>Falta mejorar</td>
        </tr>
        <tr>
            <!--td son las celdad/columnas de la fila-->
            <td>Actividad 3</td>
            <td>4.7</td>
            <td>Excelente trabajo</td>
        </tr>
        <tr>
            <!--td son las celdad/columnas de la fila-->
            <td>Actividad 4</td>
            <td>4.2</td>
            <td>Excelente</td>
        </tr>
        <tr>
            <!--td son las celdad/columnas de la fila-->
            <td>Actividad 4</td>
            <td>4.2</td>
            <td>Excelente</td>
        </tr>
</body>
</html>