{% extends 'base1.html' %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container-fluid">
        <a class="navbar-brand" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            <i class="bi bi-menu-down"></i>MENU
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
    </div>
</nav>

<div class="offcanvas offcanvas-start fondo-oscuro" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">            
            <h5>PLATAFORMA GESTION DE NOTAS</h5>
            <img src="/static/img/escudo-unacional.png" width="150"> 
        </h4>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
        <hr>
        <div class="usuario">
            <img src="/static/img/admin.jpg" alt="">
            <p>{{ session['nombre_rol']}} </p>                   
            <p>{{ session['nombre'] }}</p>
            <p>{{ session['usuario'] }}</p>
            
            
                        
        </div>
        <hr>

        <div class="d-grid gap-2">
            <a href="{{url_for('personal')}}" class="boton seleccionado" id="op" style="visibility:hidden"><i class="bi bi-universal-access-circle"></i>Administrador</a>
            <a onclick="" href="{{url_for('usuarios')}}" class="boton" id="op2" style="visibility:hidden"><i class="bi bi-person"></i>Gestion
                Usuarios</a>
            <a onclick="" href="{{url_for('materias')}}" class="boton"><i class="bi bi-book"></i>Gestion
                    de Materias</a>
            <a onclick="" href="{{url_for('matriculas')}}" class="boton"><i class="bi bi-pencil-square"></i>Gestion
                            de Matriculas</a>     
        </div>
        <div class="d-grid gap-2">
            <a href="{{url_for('personal')}}" class="boton seleccionado"><i class="bi bi-person-bounding-box"></i>Profesor</a>
            <a onclick="" href="{{url_for('actividades')}}" class="boton"><i class="bi bi-folder"></i>Gestion
                de Actividades</a>
           <a onclick="" href="{{url_for('calificaciones')}}" class="boton"><i class="bi bi-grid-3x3"></i>Gestion
                    de Calificaciones</a>    

            
        </div>
        <div class="d-grid gap-2">
            <a href="{{url_for('personal')}}" class="boton seleccionado"><i class="bi bi-person-circle"></i>Estudiante</a>
            <a href="{{url_for('notas')}}" class="boton"><i class="bi-search"></i>Consulta</a>
            
        </div>

        <div class="d-grid gap-2">
            <a href="{{url_for('login')}}" class="boton seleccionado"><i class="bi-escape"></i>Salir</a>
        
        </div>


    </div>
</div>
<script>
    
    
if ('Docente'=='Docente') {
       document.getElementById('op').style.visibility = 'visible';
       document.getElementById('op2').style.visibility = 'visible';
       
       //document.getElementById('op').style.visibility = 'hidden';
       //print(session['id_rol'])

}
    

</script>
{% block content1 %}

{% endblock %}

{% endblock %}